{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/train",

      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "{\r\n  \"statusId\": 9,\r\n  \"status\": \"Queued\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/train/"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/train/"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/train",

      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"modelId\": \"3b9e2638-dc65-42b3-9242-21bdc36481da\",\r\n    \"details\": {\r\n      \"statusId\": 3,\r\n      \"status\": \"InProgress\",\r\n      \"exampleCount\": 122\r\n    }\r\n  },\r\n  {\r\n    \"modelId\": \"b70e5e2e-1cbf-4b28-a73d-049b1dd562ff\",\r\n    \"details\": {\r\n      \"statusId\": 3,\r\n      \"status\": \"InProgress\",\r\n      \"exampleCount\": 122\r\n    }\r\n  },\r\n  {\r\n    \"modelId\": \"21f3a5e6-b83e-4981-b79d-123847c5eff2\",\r\n    \"details\": {\r\n      \"statusId\": 3,\r\n      \"status\": \"InProgress\",\r\n      \"exampleCount\": 122\r\n    }\r\n  },\r\n  {\r\n    \"modelId\": \"c0314824-f8fe-4560-af32-81987a4e911b\",\r\n  [...]
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/train",

      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"modelId\": \"3b9e2638-dc65-42b3-9242-21bdc36481da\",\r\n    \"details\": {\r\n      \"statusId\": 0,\r\n      \"status\": \"Success\",\r\n      \"exampleCount\": 122,\r\n      \"trainingDateTime\": \"2018-02-27T18:21:15Z\"\r\n    }\r\n  },\r\n  {\r\n    \"modelId\": \"b70e5e2e-1cbf-4b28-a73d-049b1dd562ff\",\r\n    \"details\": {\r\n      \"statusId\": 0,\r\n      \"status\": \"Success\",\r\n      \"exampleCount\": 122,\r\n      \"trainingDateTime\": \"2018-02-27T18:21:15Z\"\r\n    }\r\n  },\r\n  {\r\n    \"modelId\": \"21f3a5e6-b83e-4981-b79d-123847c5eff2\",\r\n    \"details\": {\r\n      \"statusId\": 0,\r\n      \"status\": \"Success\",\r\n      \"exampleCount\": 122,\r\n      \"trainin[...]
[...]
