{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions?skip=0&take=100",

      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"version\": \"0.1\",\r\n    \"createdDateTime\": \"2017-12-22T18:04:34Z\",\r\n    \"lastModifiedDateTime\": \"2018-02-27T18:19:57Z\",\r\n    \"lastTrainedDateTime\": \"2018-02-27T15:25:42Z\",\r\n    \"lastPublishedDateTime\": \"2018-02-27T13:08:20Z\",\r\n    \"endpointUrl\": null,\r\n    \"assignedEndpointKey\": null,\r\n    \"externalApiKeys\": null,\r\n    \"intentsCount\": 8,\r\n    \"entitiesCount\": 5,\r\n    \"endpointHitsCount\": 0,\r\n    \"trainingStatus\": \"NeedsTraining\"\r\n  },\r\n  {\r\n    \"version\": \"0.2.778\",\r\n    \"createdDateTime\": \"2017-12-22T18:06:02Z\",\r\n    \"lastModifiedDateTime\": \"2017-12-22T18:13:31Z\",\r\n    \"lastTrainedDateTime\": \"2017-12-22T18:06:06Z\",\r\n    \"lastPublishedDateTime\": \"2017-12-22T18:13:32Z\",\r\n    \"endpointUrl\": null,\r\n    \"assignedEndpointKey\": null,\r\n    \"externalApiKeys\": null,\r\n    \"intentsCount\": 3,\r\n    \"entitiesCount\": 0,\r\n    \"endpointHitsCount\": 0,\r\n    \"trainingStatus\": \"Trained\"\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/customprebuiltentities",

      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"domainName\": \"Camera\",\r\n  \"modelName\": \"AppName\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "\"97c175ea-2fb6-41e5-b235-5c095ebcc2f4\"",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/customprebuiltentities/97c175ea-2fb6-41e5-b235-5c095ebcc2f4"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/customprebuiltentities/97c175ea-2fb6-41e5-b235-5c095ebcc2f4"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/customprebuiltentities",

      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "{\r\n  \"Result\": [\r\n    {\r\n      \"id\": \"97c175ea-2fb6-41e5-b235-5c095ebcc2f4\",\r\n      \"name\": \"Camera.AppName\",\r\n      \"typeId\": 1,\r\n      \"readableType\": \"Entity Extractor\",\r\n      \"customPrebuiltDomainName\": \"Camera\",\r\n      \"customPrebuiltModelName\": \"AppName\"\r\n    },\r\n    {\r\n      \"id\": \"05d0d905-69d6-44f6-a934-6e4b510239c7\",\r\n      \"name\": \"Calendar.Location\",\r\n      \"typeId\": 1,\r\n      \"readableType\": \"Entity Extractor\",\r\n      \"customPrebuiltDomainName\": \"Calendar\",\r\n      \"customPrebuiltModelName\": \"Location\"\r\n    },\r\n    {\r\n      \"id\": \"8071a719-48d3-47bd-96b3-80a26128d830\",\r\n      \"name\": \"Calendar.Subject\",\r\n      \"typeId\": 1,\r\n      \"readableType\": \"Entity Extractor\",\r\n      \"customPrebuiltDomainName\": \"Calendar\",\r\n      \"customPrebuiltModelName\": \"Subject\"\r\n    }\r\n  ],\r\n  \"Id\": 77032219,\r\n  \"Exception\": null,\r\n  \"Status\": 5,\r\n  \"IsCanceled\": false,\r\n  \"IsCompleted\": true,\r\n  \"CreationOptions\": 0,\r\n  \"AsyncState\": null,\r\n  \"IsFaulted\": false\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}