{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions?skip=0&take=100",

      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"version\": \"0.1\",\r\n    \"createdDateTime\": \"2017-12-22T18:04:34Z\",\r\n    \"lastModifiedDateTime\": \"2018-02-27T18:19:14Z\",\r\n    \"lastTrainedDateTime\": null,\r\n    \"lastPublishedDateTime\": \"2018-02-27T13:08:20Z\",\r\n    \"endpointUrl\": null,\r\n    \"assignedEndpointKey\": null,\r\n    \"externalApiKeys\": null,\r\n    \"intentsCount\": 12,\r\n    \"entitiesCount\": 7,\r\n    \"endpointHitsCount\": 0,\r\n    \"trainingStatus\": \"NeedsTraining\"\r\n  },\r\n  {\r\n    \"version\": \"0.2.778\",\r\n    \"createdDateTime\": \"2017-12-22T18:06:02Z\",\r\n    \"lastModifiedDateTime\": \"2017-12-22T18:13:31Z\",\r\n    \"lastTrainedDateTime\": \"2017-12-22T18:06:06Z\",\r\n    \"lastPublishedDateTime\": \"2017-12-22T18:13:32Z\",\r\n    \"endpointUrl\": null,\r\n    \"assignedEndpointKey\": null,\r\n    \"externalApiKeys\": null,\r\n    \"intentsCount\": 3,\r\n    \"entitiesCount\": 0,\r\n    \"endpointHitsCount\": 0,\r\n    \"trainingStatus\": \"Trained\"\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/customprebuiltdomains",

      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"domainName\": \"Gaming\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "[]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/customprebuiltmodels",

      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "{\r\n  \"Result\": [\r\n    {\r\n      \"id\": \"b70e5e2e-1cbf-4b28-a73d-049b1dd562ff\",\r\n      \"name\": \"Calendar.Delete\",\r\n      \"typeId\": 0,\r\n      \"readableType\": \"Intent Classifier\",\r\n      \"customPrebuiltDomainName\": \"Calendar\",\r\n      \"customPrebuiltModelName\": \"Delete\"\r\n    },\r\n    {\r\n      \"id\": \"21f3a5e6-b83e-4981-b79d-123847c5eff2\",\r\n      \"name\": \"Calendar.Edit\",\r\n      \"typeId\": 0,\r\n      \"readableType\": \"Intent Classifier\",\r\n      \"customPrebuiltDomainName\": \"Calendar\",\r\n      \"customPrebuiltModelName\": \"Edit\"\r\n    },\r\n    {\r\n      \"id\": \"3b9e2638-dc65-42b3-9242-21bdc36481da\",\r\n      \"name\": \"Calendar.CheckAvailability\",\r\n      \"typeId\": 0,\r\n      \"readableType\": \"Intent Classifie[...]
[...]
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b/versions/0.1/customprebuiltdomains/Gaming",

      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}